{% load static %}

<html>

  <head>
    <meta charset="utf-8">
    <title>Task</title>
    <link rel="stylesheet" href="{% static 'blog/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
  </head>

  <body>
    <nav>
      <ul>
        {% if user.is_authenticated %}
        <li><a href="{% url 'blog:index' %}">Lista de Tareas</a></li>
        <li>
          <form action="{% url 'logout' %}" method="post" style="display: inline;">
            {% csrf_token %}
            <button type="submit" style="background: none; border: none; color: white; cursor: pointer;">
              Cerrar sesión
            </button>
          </form>
        </li>
        <li><a href="{% url 'user_detail' user.pk %}">Información del miembro</a></li>
        {% else %}
        <li><a href="{% url 'login' %}">Acceso a la cuenta</a></li>
        <li><a href="{% url 'signup' %}">Registro de cuenta</a></li>
        <!-- Añadido -->
        {% endif %}
      </ul>
    </nav>
    <main>
      <div>
        {% block main %}
        {% endblock %}
      </div>
    </main>
  </body>

</html>
